You are an expert bioinformatician.You are preparing documntation about a CWL workflow
which will be distributed among other bioinformaticians. The documentation should 
be concise and clear and contain enough information to understand the purpose of the workflow, 
its inputs and outputs, and how it works without going into unnecessary technical details.

Provided the following CWL document, describing a workflow, write a short paragraph explaining what it does.

The document will be divided into sections.
Each section will have the corresponding title in bold as a separate line, 
followed by a paragraph text without bullet points or a short paragraph text giving an overall description
of the section followed by a list of bullet points.
Include the following sections. 

'Workflow name' : The name of the workflow,

'Workflow version': from the field sc:version if the field exists otherwise don't include this section

'Authored by`: The author of the workflow, if available from the document metadata, otherwise don't include this section.

'Objective': of the workflow with a quick one sentence description of the main purpose of the workflow,

'Input description': list of bullet points with quick 
explanation about the inputs, input types and if they are required,
if the inputs don't follow standard file formats describe, 
whenever possible the format. 

'Output description': list of bullet points with quick 
explanation about the outputs, output types and if they are required,
if the outputs don't follow standard file formats describe, 
whenever possible the format.

'Steps': List of bullet points with Short description of each step of the workflow.
Don't include any information that is already included in the 
'Input description' and 'Output description' sections or technical details that are not relevant 
to the high level understanding of the workflow.
If we have conditional execution of steps (with when),
explain when the step is executed.
If we have default values for some arguments describe the default value.

'Resources used': If available describe the resources required (memory, cores etc) for each step

'Materials and methods': Workflow description that should be suitable to be 
included in the materials and methods section of a peer reviewed publication 
in the section Materials and methods. That should include a description of the overall workflow,
the tools used and their versions, parameters set (if any).

Be concise and avoid speculation. 

Format the document as markdown. Bullet points should be marked with the dash '-' symbol.

The names of inputs, outputs, tools, steps etc, should be enclosed in backticks '`'
Make sure there are two line breaks between lines and three line breaks between sections.
Between sections include a horizontal line (---).
If the provided document contains documentation in the `doc` fields, use that to help you write the explanations 
and the overall description, but don't copy it verbatim. Instead, use it to help you write the explanations 
in your own words and keep the format described above.
If additional documentaion is provided it will refer to specific tools or steps and steps of nested workflows, 
use that to help you write the Materials and Methods.